<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<h1 th:text="${title}"></h1>
<div>
    <a th:href="@{/list}">Return</a>
    <!--    form>(div>label+div>input)*4-->
    <form th:action="@{/form}" method="post" th:object="${product}">
        <!--        en ves de usar esto usa el @SessionAttributes("product") e y si usas esto @GetMapping("/form/v2/{idProduct} activa esto")-->
        <!--        <input type="hidden" th:if="${product.id != null}" th:field="*{id}" >-->
        <div><label for="name">Name</label>
            <div>
                <input id="name" type="text" th:field="*{name}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div><label for="price">Price</label>
            <div>
                <input id="price" type="number" th:field="*{price}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <div><label for="createAt">Create At.</label>
            <div><input id="createAt" type="date" th:field="*{createAt}"></div>
        </div>
        <div>
            <label for="category.id">Category</label>
            <div>
                <select id="category.id" th:field="*{category.id}">
                    <option selected disabled value="">-- Select --</option>
                    <option th:each="categorie: ${categories}"
                            th:value="${categorie.id}"
                            th:text="${categorie.name}">
                    </option>
                </select>
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></span>
        </div>
        <div>
            <div><input type="submit" th:value="${btnSumit}"></div>
        </div>
    </form>
</div>
</body>
</html>