<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href="@{/form}">Create</a>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>date create</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getCreateAt()}"></td>
            <td><a th:href="@{/form/} + ${product.getId()}">Edit</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>